@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('/src/assets/fonts/AvenirNextLTPro-Bold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('/src/assets/fonts/AvenirNextLTPro-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Text';
  src: url('/src/assets/fonts/FontsFree-Net-SFCompactText-Regular.ttf');
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 0;
  min-height: 100vh;
  background-color: #fbfbfb;
}

input:focus {
  outline: none;
}