@import 'mixinsVariables';


/*==========  ID Rules  ==========*/
#table-wrapper {
    @include container(95%, fit-content, 20px auto);
    min-height: 600px !important;
    overflow-x: scroll;
    position: relative;
    background: $White;
    padding: 20px 2.5%;
    border: 1px solid rgba(33, 63, 125, 0.1);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    &::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }

    @include minWidth(1336px) {
        margin: 20px 0;
    }
}

#pagination-wrapper {
    @include container(fit-content, fit-content, 0px auto);  
    @include flexboxWrap(row, center, center);
    padding: 10px 0; 

    .arrow-buttons {
        position: relative;
        @include container(24px, 24px, 0px 10px);
        background-color: rgba(33, 63, 125, 0.1);
        border-radius: 4px;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    button {
        background: none;
        border: none;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $Inactive;
    }

    .right-margin {
        margin-right: 0;
    }


    @include desktopView {
        display: inline-flex;
        float: right;
        margin: 20px 0;
    }
}

#total-wrapper {
    @include container(fit-content, fit-content, 20px auto);  
    @include flexboxWrap(row, center, center);
    padding: 10px;  
    
    
    p {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $Inactive;
        margin: 0;
    }

    select {
        @include container(80px, 30px, 0px 10px);
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        border-color: transparent;
        font-family: 'Work Sans';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $DeepBlue;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0 15px;
        background-image: url('../images/drop_down.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 11.71px) center;
        background-size: 10px;

        &:focus {
            outline: none;
        }
    }

    @include desktopView {
        display: inline-flex;
        float: left;
        margin: 20px 0;
    }
}

#bottom-details {
    @include flexboxWrap(column, center, center);
    @include container(100%, fit-content, 0px auto);
    padding-bottom: 60px;

    @include desktopView {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0px;
    }
}


/*==========  Class Rules  ==========*/
.dashboard-wrapper {
    position: relative;
    @include container(100%, fit-content, 0px auto);
}

.dashboard-details {
    @include container(90%, 100%, 20px 5%);
    position: relative;
    top: 90px;
    float: right;

    @include desktopView {
        @include container(65%, 100%, 20px auto);
        right: 30px;
    }

    @include minWidth(1180px) {
        @include container(70%, 100%, 20px auto);
    }

    @include minWidth(1336px) {
        @include container(77%, 100%, 20px auto);
        right: 25px;
    }
}

.users-features-flex {
    @include flexboxWrap(row, space-between, flex-end);
}

.feature {
    @include container(40%, 100%, 10px 0);
    padding: 30px 10px 0px 20px;
    text-transform: uppercase;
    background: $White;
    border: 1px solid rgba(33, 63, 125, 0.1);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    div {
        @include container(25px, 25px, 0);
        padding: 10px;
        border-radius: 25px;
        position: relative;

        img {
           
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    p {
        
        font-family: 'Work Sans';
        font-weight: 500;
        font-size: 14px;
        line-height: 14.46px;
        color: $Inactive;
    }

    h3 {
        
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 24px;
        color: $DeepBlue;
        margin: 10px 0;
       line-height: 28.15px;
    }

    @include portraitSet {
        width: 37%;

        img {
            @include container(17px, 14px, 0);
        }

        p {
            font-size: 10px;
            margin: 5px 0;
        }

        h3 {
            font-size: 20px;
        }
    }

    @include landscapeSet {
        width: 40%;
        min-height: fit-content !important;
        padding: 20px 10px 20px 20px;

        div {
            @include container(40px, 40px, 0);
            padding: 10px;
            border-radius: 40px;
            position: relative;
        }
    }

    @include minWidth(1180px) {
        @include container(208.4px, 118.4px, 10px 0);

        div {
            @include container(30px, 30px, 0);
        }
    }
}

.users-table {
    @include container(100%, fit-content, 0);
    border-collapse: collapse;

    thead {
        height: 70px;
    }

    tr img {
        cursor: pointer;
    };

    thead tr th {
        min-width: 130px;
        position: relative;
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
        color: $Inactive;

        img {
            margin-left: 7px;
            margin-bottom: -5px;
        }

    }

    thead tr th:nth-child(6) {
        .filter-wrapper {
           left: -120px;
        }
    }

    tbody {
        height: fit-content;
    }

    tbody tr {
        margin: 15px 0px;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        height: 60px !important;
    }

    tbody tr td {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16.42px;
        color: $Inactive;
        position: relative;
        padding-right: 15px;
        white-space: nowrap;
    }

    tbody tr td:nth-child(7) {
        padding-right: 0;
    }
}

.user-options {
    @include container(180px, fit-content, 0px);
    position: absolute;
    right: -20px;
    z-index: 20;
    background-color: $White;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    ul {
        list-style: none;
        margin: 0;
        padding: 10px 15px;

        li {
            @include flexboxWrap(row, flex-start, center);
            padding: 10px 0px;
            font-family: 'Work Sans';
            text-transform: capitalize;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $Inactive;
            cursor: pointer;

            img {
                margin: 0px 5px;
            }
        }
    }    
}

.loading-error-message {
    @include flexboxWrap(row, center, center);
    @include container(100%, 100%, 0px auto);
    
    p {
        font-family: 'Work Sans';
        font-weight: 500;
        font-size: 25px;
        line-height: 16px;
        color: $DeepBlue;
    }
}


/*==========  Element Rules  ==========*/  
h2 {
    font-family: 'Work Sans';
    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $DeepBlue;
}

/*==========  User Status Rules  ==========*/ 
.active {
    @include statusType($Active, rgb(57, 205, 98));
}

.inactive {
    @include statusType($Inactive, rgb(84, 95, 125));
}

.pending {
    @include statusType($Pending, rgb(233, 178, 0));
}

.blacklisted {
    @include statusType($Blacklisted, rgb(228, 3, 59));
}