@import 'mixinsVariables';



/*==========  ID Rules  ==========*/
#login-wrapper {
    min-height: 100vh;
    @include flexboxWrap(column, center, center);

    @include desktopView {
        background: linear-gradient(to right, $Dashboard 50%, $White 50%);
    }
}

#login-photo {
    display: none;

    @include dynamicQueries(1024px, 1024px) {
        img {
            width: 100%;
        }
    }

    @include desktopView {
        display: block;

        img {
            display: block;
            margin: auto;
        }
    }
}

#relative-wrapper {
    @include container(70%, 100%, 0);
    position: relative;

    input {
        width: 100%;
    }

    .show-password {
        height: fit-content;
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
}



/*==========  Class Rules  ==========*/
.logo {
    @include container(fit-content, fit-content, 50px auto);

    @include desktopView {
       margin: 30px 0 80px 5%;
    }
}


.login-form {
    @include container(100%, 100%, auto);
    @include flexboxWrap(row, center, center); 
    

    @include desktopView {
        div {
            @include container(50%, 100%, auto);
        }
    }
}

.form-wrapper {
    @include container(100%, 100%, auto);

    .input-wrapper {
        @include container(75%, 100%, auto);

        
        #details {
            font-family: 'Avenir Next Regular';
            font-size: 20px;
            color: $Inactive;
            margin: 0;
        }
    
        h1 {
            color: $DeepBlue;
            font-family: 'Avenir Next Bold';
            font-size: 40px;
            margin: 15px 0px;
        }
    }

    form {
        @include container(100%, 100%, 50px auto);
        

        p {
            text-transform: uppercase;
            color: $Cyan;
            font-family: 'Avenir Next Bold';
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
        }

        input {
            @include container(70%, 50px, 10px auto);
            font-family: 'Avenir Next Regular';
            color: $DeepBlue;
            padding: 0px 20px;
            font-size: 14px;
            border: 2px solid $InputBorder;
            background: $White;
            border-radius: 5px;
    
            &::placeholder {
                color: $DeepBlue;
                opacity: 0.6;
            }
        }

        .error {
            color: $Blacklist;
            padding-bottom: 10px;
            font-family: 'Avenir Next Regular';
        }
    }

    .log-in {
        @include container(77.5%, 48px, 20px auto);
        background-color: $Cyan;
        border-radius: 8px;
        font-family: 'Avenir Next Bold';
        color: $White;
        font-size: 14px;
        text-transform: uppercase;
        @include buttonHover($Cyan);
    }


    @include maxWidth(1024px) {
        form input, #relative-wrapper, .log-in {
            width: 80%;
        }

        .log-in {
            display: block;
            margin: 40px auto;
        }

        h1, #details {
            text-align: center;
        }
    }

    @include landscapeSet {
        .log-in {
            width: 77%;
            margin: 40px 0;
        }
    }
}
