$white: #FFFFFF;
$black: #000000;
$orange: #FB5607CC;
$menuHover: #FB5607;
$dropDown: #808080;
$error: #A40A0A;
$success: #0A8033;
$Background: #e0e0e0;
$greyDots: rgba(0, 0, 0, 0.65);
$menuFonts: rgba(0, 0, 0, 0.5);
$slashedPrice:  rgba(18, 18, 18, 0.6);
$featureBorder: rgba(0, 0, 0, 0.12);
$linearCombo: linear-gradient(90.13deg, #FB5607 0%, #360940 110.35%);
$conicCombo: conic-gradient(90.13deg, #FB5607 0%, #360940 110.35%);
$boxShadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px rgba(0, 0, 0, 0.05);



@mixin Button($color) {
    font-size: 14px;
    color: $darkBrown;
    font-weight: 900;
    letter-spacing: 1.25px;
    background-color: $color;
    border: 3px solid $buttonBorder;
    border-radius: 20px 0px 20px 20px;
    @include container(220px, 50px, 0);
}

@mixin backImage($image) {
    background: url($image) no-repeat center center fixed;
    background-size: contain;
}

@mixin container($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}

@function pow($value) {
    @if ($value > 0) {
        @return $value;
    }
    @else {
        @return 0;
    }
}; 

@mixin absoluteSet() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

//Background for images before they load
@mixin lazyLoad($padding) {
    height: 0;
    position: relative;
    padding-bottom: $padding;
    background-color: $Background;
    img {
        display: block;
        object-fit: cover;
        @include absoluteSet;
    }
}

@mixin landscapeSet {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin desktopView {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin customizeView($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin mobileView() {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin flexboxWrap($direction, $justify, $align) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin menuBottom($color, $underline) {
    &:hover {
        color: $color;
        cursor: pointer;
    }

    &:after {
        content: '';
        display: block;
        transform: scaleX(0);  
        border-bottom: solid 3px $underline;  
        transition: transform 250ms ease-in-out;
    }
    &:hover:after {
        transform: scaleX(1); 
    }
}