@import 'mixinsVariables';



/*==========  ID Rules  ==========*/
#mobile-logo {
    margin: 20px;

    @include desktopView {
        margin: 0;
    }
}

#sidebar {
    @include container(100%, 100vh, 0);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    @include desktopView {
        height: fit-content;
    }
}


/*==========  Class Rules  ==========*/
.sidebar-wrapper {
    @include container(100vw, 100vh, 0);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);

    
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: $White;
    }
      
    &::-webkit-scrollbar-thumb {   
        background: #d1d1d1;
        border-radius: 5px;
    }
      
    &::-webkit-scrollbar-thumb:hover {    
        background: #888;
    }


    @include desktopView {
        width: fit-content;
        height: 100vh;
        display: block !important;
        background-color: transparent;
        position: fixed;
        float: left;
    }
}

.menu {
    @include container(280px, fit-content, 0);
    background-color: $White;
    padding: 20px 0px 60px 0px;
    padding-left: 0px;

    @include desktopView {
        padding: 20px 0px 40px 0px;
    }
}

.menu-item-flex {
    @include flexboxWrap(row, flex-start, center);
    padding-left: 20px;
    border-left: 6px solid transparent;
    cursor: pointer;
    p {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $DeepBlue;
        padding: 0px 10px;
        text-transform: capitalize;
    }

    .blur-color {
        opacity: 0.5;
    }

    &:hover {
        background-color: rgba(57, 205, 204, 0.1);
        border-color: $Cyan;

        .blur-color {
            opacity: 1;
        }
    }
}

.menu-list {
    @include container(100%, fit-content, 15px auto);
    padding-left: 25px;

    .menu-title {
        font-family: 'Work Sans';
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        color: $Inactive;
        text-transform: uppercase;
    }
}



/*==========  Element Rules  ==========*/